h1 {
  color: purple;
  text-align: center;
  font-style: garamond;
  font-size: 45px;
}

h2 {
  color: blue;
  text-align: center;
  font-style: garamond;
  font-size: 35px;
}

ul {
  color: pink;
  text-align: left;
  font-size: 35px;
}

li {
  text-align:left;
  list-style-position: inside;
} 

h3 {
  color: yellow;
  text-align: center;
  font-size: 37px;
  background-color: orange;

}

.darkbkg {
  background-color: black;

}

.return {
  background-color: white;
  
}